*{
  margin: 0;
  padding: 0;
  font-family: "HM Sans Bold", "ヒラギノ角ゴ Pro W3", "Hiragino Kaku Gothic Pro", "ＭＳ Ｐゴシック", "MS PGothic", sans-serif;
  /* "Archivo",sans-serif; */
}

.App {
  background-color: rgb(255, 255, 255);
  display: grid;
  min-height: 100vh;
  grid-template: 150px .4fr minmax(200px, auto)/ 1fr 2fr 2fr 1fr;
  grid-gap: 50px 0px;
}

.navbar-container {
  background-color: #8cd8a3;
  text-align: center;
  grid-column: 1 / span 4;
  grid-row: 1 / span 1;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.nav-li-container {
  /* background-color: azure; */
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100px;
}

.inactive-nav {
  color: whitesmoke;
  text-decoration: none; 
}

.inactive-nav:hover {
  color: black;
  text-decoration-color: whitesmoke;
  font-weight:bolder;
}

.active-nav {
  color: black;
  font-weight:bolder;
}

.navbar-container .logo {
  height: 75px;
}

.navbar-container .user {
  height: 40px;
}

.navbar-container .search {
  height: 40px;
}

.navbar-container .partners {
  height: 50px;
}

.navbar-container .stores {
  height: 40px;
}

.navbar-links {
  display: flex;
}


.navbar-links li{
  /* background-color: azure; */
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100px;
  margin: 10px;
}



.site-container {
  text-align: center;
  grid-row: 2 / span 1;
  grid-column: 2 / span 2;
  display: grid;
  grid-template: 500px .3fr 900px .5fr / .5fr 3fr 3fr .5fr;
  grid-gap: 50px;
}

.slideshow {
  grid-column: 2 / span 2;
  grid-row: 1 / span 1;
  /* background-color: red; */
  display: flex;
  justify-content: center;
  align-items: center;
}

.mySlidesContainer {
  display: flex;
  align-items: center;
  flex-direction: column;
  width: 100%;
  height: 100%;
}


.mySlides {
  object-fit: contain;
  width: 300px;
  height: 380px;
}

.mySlidesBanner {
  background-color: rgb(61, 61, 61);
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
}

.mySlidesBanner h1 {
  color: whitesmoke;
}

.productRowContainer {
  grid-column: 2 / span 2;
  grid-row: 2 / span 1;
  display: flex;
  width: 100%;
  justify-content: space-around;
  align-items: center;
  flex-wrap: wrap;
}

.product-image {
  height: 150px;
  width: 150px;
  border-radius: 50%;
  overflow: hidden;
  border: 3px solid #bfa3f5;
  /* background-color: #FF3333; */
}

.product-image:hover {
  border: 3px solid #6b6b6b;;
}

.productRowContainer img{
  height: 150px;
  max-width: 150px;

}

.inactive {
  color: rgb(95, 95, 95);
  text-decoration: none;
}

.shipping-container {
  /* background-color: rgb(146, 146, 146); */
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  grid-column: 2 / span 2;
  grid-row: 3 / span 1;
  width: 100%;
  /* justify-content: space-between; */
}

.shipping-header {
  background-color: #faf9f8;
  color: black;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 150px;
  width: 100%;
}

.shipping-boxes {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  /* background-color: red; */
  width: 90%;
  
}

.shipping-boxes img{
  height: 200px;
  width: 200px;
}

.shipping1 {
  width: 300px;
  height: 200px;
  background-color: rgb(190, 190, 190);
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 10px;

}

.shipping2 {
  width: 300px;
  height: 200px;
  background-color: rgb(190, 190, 190);
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 10px;
}

.shipping3 {
  width: 300px;
  height: 200px;
  background-color: rgb(190, 190, 190);
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 10px;
}

.fashionreel-container{
  /* background-color: blue; */
  background-color: #f4eddd;
  grid-column: 2 / span 2;
  grid-row: 4 / span 1;
  display: flex;
  flex-direction: column;
  /* grid-template-rows: 1fr 3fr; */

}

.fashionreel-header {
  /* background-color: aqua; */
  display: flex;
  justify-content: center;
  align-items: center;
  /* grid-row: 1 / span 1; */
}

.fashionreel-section {
  width: 100%;
  height: 100%;
  grid-row: 2 / span 1;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: center;
  /* margin: 0 auto; */
  /* background-color: blueviolet; */
}

.reel-1 {
  height: 500px;
  width: 200px;
  background: url("https://www.fashiongonerogue.com/wp-content/uploads/2014/04/iggy-azalea-revolve-clothing-photos-2014-1.jpg") center no-repeat;
  background-size: cover;
  margin: 10px;
}

.reel-2 {
  height: 500px;
  width: 200px;
  background: url("https://sc01.alicdn.com/kf/HT1HmUNFAliXXagOFbX6/220128135/HT1HmUNFAliXXagOFbX6.jpg") no-repeat;
  background-size: cover;
  margin: 10px;
}

.reel-3 {
  height: 500px;
  width: 200px;
  background: url("https://hips.hearstapps.com/hmg-prod.s3.amazonaws.com/images/gh-closet-organization-1583437747.png") center no-repeat;
  background-size: cover;
  margin: 10px;
}


.footer-container {
  background-color: rgb(202, 202, 202);
  text-align: center;
  grid-row: 3 / span 1;
  grid-column: 1 / span 5;
  display: grid;
  grid-template-rows: 1fr 2fr
}


.footer-links {
  display: flex;
  background-color: rgb(73, 73, 73);
  color: whitesmoke;
  justify-content: center;
  align-items: center;
  grid-row: 1 / span 1;
  /* background-color: aqua; */
}

.footer-links li{
  display: inline;
  margin-right: 15px;
  margin-left: 15px;
  
}

.socialmedia-contact{
  /* background-color: brown; */
  grid-row: 2 / span 1;
  display: flex;
  justify-content: center;
  align-items: center;
}

.socialmedia-contact img{
  height: 50px;
  border-radius: 50px;
  margin-right: 10px;
  margin-left: 10px;
}

.productpage-container{
  /* background-color: blue; */
  max-width: 1200px;
  text-align: center;
  grid-row: 2 / span 1;
  grid-column: 1 / span 5;
  grid-gap: 10px;
  justify-content: space-around;
  display: flex;
  flex-wrap: wrap;
  margin: 0 auto;

}

.products {
  /* background-color: red; */
  width: 300px;
  height: 400px;
  border: 2px solid black;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
}

.myProducts {
  width: 210px;
  height: 250px;
}

.product-price {
  margin-right: 220px;
  font-weight: bolder;
}

.rewardpage-container{
  text-align: center;
  grid-row: 2 / span 1;
  grid-column: 1 / span 5;
  grid-gap: 50px;
  /* background-color: red; */
  display: flex;
  justify-content: space-around;
}

.rewards-signup {
  /* background-color: blue; */
  border: 2px solid black;
  height: 300px;
  width: 700px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.rewards-form {
  display: flex;
  flex-direction: column;
  /* background-color: purple; */
  justify-content: center;
  height: 200px;
  width: 500px;
  
}

.partnerpage-container {
  /* background-color: red; */
  text-align: center;
  grid-row: 2 / span 1;
  grid-column: 1 / span 5;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.partnerpage-container img{
  min-width: 500px;
  max-width: 1000px;
}

.mission-statement{
  background-color: rgb(214, 214, 214);
  color: rgb(73, 121, 175);
  max-width: 600px;
}

.store-container {
  /* text-align: center; */
  grid-row: 2 / span 1;
  grid-column: 1 / span 5;
  display: grid;
  grid-template-rows: 0.8fr 1fr;
  /* background-color:blue; */
  height: 100%;
  margin: 0 auto;
}

.map-container {
  display: flex;
  justify-content: center;
  align-items: center;
  grid-row: 1 / span 1;
}

.storeinfo-container {
  /* background-color: red; */
  grid-row: 2 / span 1;
}

.storeinfo-container table {
  width: 100%;
  
}
.storeinfo-container table td{
  width: 100%;
  border-bottom: 1px solid grey;
}

.storeinfo-container table th{
  background-color: lightgrey;
  text-align: left;
  width: 100%;
  height: 50px;
  padding-left: 15px;
}

.storeinfo-container table tr td{
  /* background-color: green; */
  text-align: left;
  width: 100%;
  height: 150px;
}

.store-details {
  display: flex;
  justify-content: space-around;
  align-items: center;
  /* background-color: aliceblue; */
}

.store-details .address {
  margin-bottom: auto;
}

.store-details .hours-of-operation {
  margin-bottom: auto;

}

.store-details .store-image {
  display: flex;
  justify-content: center;
  align-items: center;
}